/* BODY E RESET */
body {
    margin: 0;
    padding: 0;
    background-color: #511414;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin-right: 10px;
    border-radius: 8px;
}

/* TOPO / HEADER */
.topo {
  background-color: #111;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
  border-radius: 8px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

.cadastro a {
    font-size: 18px;
    color: rgb(254, 253, 253);
    text-decoration: none;
}

a {
    color: #ddd;
}

/* INÍCIO */
.inicio {
    text-align: center;
    padding: 20px;
}

.inicio h1 {
    color: rgb(232, 239, 239);
}

.inicio p {
    color: #fefefe;
}

/* CATÁLOGOS */
.catalogos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.filmes {
    text-align: center;
    width: 30%;
}

.filmes img {
    width: 100%;
    height: auto;
}

/* TABELA */
.tabela {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.tabela table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
}

thead {
    background-color: #2c3e50;
    font-weight: bold;
    color: white;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

td {
    color: #111;
}

.preço {
    color: green;
}

/* TITULOS */
h2 {
    text-align: center;
    color: #ddd;
}

/* CARROSSEL */
.carousel {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  margin: 30px auto;
  color: white;
  font-size: 1.8rem;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 20px;
}

.slide1 { background: linear-gradient(135deg, #5e0b13, #000000); }
.slide2 { background: linear-gradient(135deg, #771a1a, #000000); }
.slide3 { background: linear-gradient(135deg, #2c1a1a, #000000); }

.slide span { color: #29d2aa; }

/* BOTÕES DO CARROSSEL */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.prev { left: 10px; }
.next { right: 10px; }